<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jf.crud.dao.BuyerMapper">
  <resultMap id="BaseResultMap" type="com.jf.crud.bean.Buyer">
    <id column="buyerId" jdbcType="INTEGER" property="buyerid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="balance" jdbcType="VARCHAR" property="balance" />
    <result column="receiveAdd" jdbcType="VARCHAR" property="receiveadd" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phonenum" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    buyerId, userId, nickname, balance, receiveAdd, phoneNum, realName
  </sql>
  <select id="selectByExample" parameterType="com.jf.crud.bean.BuyerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from buyer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from buyer
    where buyerId = #{buyerid,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from buyer
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from buyer
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.crud.bean.BuyerExample">
    delete from buyer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.crud.bean.Buyer">
    insert into buyer (buyerId, userId, nickname, 
      balance, receiveAdd, phoneNum, 
      realName)
    values (#{buyerid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, 
      #{balance,jdbcType=VARCHAR}, #{receiveadd,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.crud.bean.Buyer">
    insert into buyer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buyerid != null">
        buyerId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="receiveadd != null">
        receiveAdd,
      </if>
      <if test="phonenum != null">
        phoneNum,
      </if>
      <if test="realname != null">
        realName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buyerid != null">
        #{buyerid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=VARCHAR},
      </if>
      <if test="receiveadd != null">
        #{receiveadd,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.crud.bean.BuyerExample" resultType="java.lang.Long">
    select count(*) from buyer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update buyer
    <set>
      <if test="record.buyerid != null">
        buyerId = #{record.buyerid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveadd != null">
        receiveAdd = #{record.receiveadd,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenum != null">
        phoneNum = #{record.phonenum,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null">
        realName = #{record.realname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update buyer
    set buyerId = #{record.buyerid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      balance = #{record.balance,jdbcType=VARCHAR},
      receiveAdd = #{record.receiveadd,jdbcType=VARCHAR},
      phoneNum = #{record.phonenum,jdbcType=VARCHAR},
      realName = #{record.realname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.crud.bean.Buyer">
    update buyer
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=VARCHAR},
      </if>
      <if test="receiveadd != null">
        receiveAdd = #{receiveadd,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        phoneNum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
    </set>
    where buyerId = #{buyerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.crud.bean.Buyer">
    update buyer
    set userId = #{userid,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=VARCHAR},
      receiveAdd = #{receiveadd,jdbcType=VARCHAR},
      phoneNum = #{phonenum,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR}
    where buyerId = #{buyerid,jdbcType=INTEGER}
  </update>
</mapper>